In [64]:
import pandas as pd
import numpy as np

In [65]:
#예제 데이터 만들기

#예제로 사용할 데이터를 하나 만들자     
#만들 데이터: 주가 가격에 대한 것이며, 여러 날짜에 대한 가격이니

In [66]:
#참고로 from pandas import Series, DataFrame 으로 한 경우
stock_price_list = [10000,10300, 9900, 10500, 11000]
stock_price_list

[10000, 10300, 9900, 10500, 11000]

In [67]:
stock_price_Series = pd.Series([10000,10300, 9900, 10500, 11000])
stock_price_Series

0    10000
1    10300
2     9900
3    10500
4    11000
dtype: int64

In [68]:
stock_price_list[0:3]

[10000, 10300, 9900]

In [69]:
stock_price_Series[0:3]

0    10000
1    10300
2     9900
dtype: int64

In [70]:
stock_price_Series = pd.Series([10000,10300, 9900, 10500, 11000],
                              index=["2020-03-01","2020-03-02","2020-03-03",
                                     "2020-03-04","2020-03-5"])
stock_price_Series

2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [71]:
stock_price_Series["2020-03-5"]

11000

In [72]:
stock_price_Series.index

Index(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-5'], dtype='object')

In [73]:
stock_price_Series.values

array([10000, 10300,  9900, 10500, 11000], dtype=int64)

In [74]:
for i in range(0,len(stock_price_Series)):
    print("index :",stock_price_Series.index[i])
    print("Value :",stock_price_Series.values[i])

index : 2020-03-01
Value : 10000
index : 2020-03-02
Value : 10300
index : 2020-03-03
Value : 9900
index : 2020-03-04
Value : 10500
index : 2020-03-5
Value : 11000

In [75]:
for i in range(0,len(stock_price_Series)):
    print("index :",stock_price_Series.index[i])
    print("Value :",stock_price_Series[i])

index : 2020-03-01
Value : 10000
index : 2020-03-02
Value : 10300
index : 2020-03-03
Value : 9900
index : 2020-03-04
Value : 10500
index : 2020-03-5
Value : 11000

In [76]:
for i in stock_price_Series.index:
        print("index :",i)
        print("Value :",stock_price_Series[i])

index : 2020-03-01
Value : 10000
index : 2020-03-02
Value : 10300
index : 2020-03-03
Value : 9900
index : 2020-03-04
Value : 10500
index : 2020-03-5
Value : 11000

stock_price_list[특정한 숫자/슬라이싱..]

stock_price_Series[숫자 1개, 내가만든거 1개, 숫자 여러개 슬라이싱, 내가 만든 인덱스 슬리이싱, 그냥 보고자 하는 것 !]

In [77]:
stock_price_Series[[1,3,4]]

2020-03-02    10300
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [78]:
idx=[1,3,4]
[stock_price_list[i] for i in idx]

[10300, 10500, 11000]

In [79]:
stock_price_Series

2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
dtype: int64

가격이 10000이상인 값들만 추려보세요

In [80]:
stock_price_Series[stock_price_Series>10000]

2020-03-02    10300
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [81]:
#'in'=> '인덱스' 기준으로 동작

"2020-03-5" in stock_price_Series

True

In [82]:
#Dictionary 생성

sdata = {"APPL":1000, "MS":2000,"AMAZON":3000, "TESLA":5000, "UBER":100}
sdata

{'APPL': 1000, 'MS': 2000, 'AMAZON': 3000, 'TESLA': 5000, 'UBER': 100}

In [83]:
#Pandas Series로 바꿈
#그랬을때 key 값이 index 로 자동 매핑
obj3 = pd.Series(sdata)
obj3

APPL      1000
MS        2000
AMAZON    3000
TESLA     5000
UBER       100
dtype: int64

In [84]:
states = ["GOOGLE","APPL","AMAZON"]
states

['GOOGLE', 'APPL', 'AMAZON']

In [85]:
#인덱스 먼저 틀 형성 후 지정한 인덱스에 해당하는 값만 Series로 가져옴
obj4 = pd.Series(sdata, states)
obj4

GOOGLE       NaN
APPL      1000.0
AMAZON    3000.0
dtype: float64

In [86]:
#인덱스 중심으로 틀 형성 후 array끼리 합치면 각 value가 합쳐짐

obj3+obj4

AMAZON    6000.0
APPL      2000.0
GOOGLE       NaN
MS           NaN
TESLA        NaN
UBER         NaN
dtype: float64

inull/notnull

In [87]:
pd.notnull(obj3)

APPL      True
MS        True
AMAZON    True
TESLA     True
UBER      True
dtype: bool

In [88]:
pd.isnull(obj4)

GOOGLE     True
APPL      False
AMAZON    False
dtype: bool

In [89]:
#이렇게 보통 사용(메소드로써)
obj4.isnull()

GOOGLE     True
APPL      False
AMAZON    False
dtype: bool

In [90]:
pd.isnull(obj3+obj4)

AMAZON    False
APPL      False
GOOGLE     True
MS         True
TESLA      True
UBER       True
dtype: bool

In [91]:
stock_price_Series.index.name="Stock Price Date"

In [92]:
stock_price_Series.index

Index(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-5'], dtype='object', name='Stock Price Date')

In [93]:
#몇차원?
stock_price_Series.ndim

1

In [94]:
#shape?
stock_price_Series.shape

(5,)

In [95]:
stock_price_Series.size

5

In [96]:
stock_price_Series[0]

10000

In [97]:
stock_price_Series.iat[0]

10000

In [98]:
stock_price_Series.iloc[0:3]

Stock Price Date
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
dtype: int64

In [99]:
stock_price_Series["2020-03-01"]

10000

In [100]:
stock_price_Series.at["2020-03-01"]

10000

In [101]:
stock_price_Series.loc["2020-03-01":"2020-03-03"]

Stock Price Date
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
dtype: int64

In [102]:
stock_price_Series.loc[["2020-03-01","2020-03-03"]]

Stock Price Date
2020-03-01    10000
2020-03-03     9900
dtype: int64

In [103]:
len(stock_price_Series)

5

In [104]:
stock_price_Series.count()

5

In [105]:
#인덱스가 중복되어도 추가됨;;
add_data = pd.Series([12345], index=["2020-03-02"])
add_data

2020-03-02    12345
dtype: int64

In [106]:
#같은 인덱스를 가지면 에러나도록 하는 것 =>verify_integrity=Ture
stock_price_Series.append(add_data, verify_integrity =True)

ValueError: Indexes have overlapping values: Index(['2020-03-02'], dtype='object')

In [109]:
#위에서 append한게 계속가지 않음, 계속가려면 변수선언하여 넣어야함
stock_price_Series

Stock Price Date
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [110]:
stock_price_Series.max()

11000

In [111]:
stock_price_Series.min()

9900

In [112]:
stock_price_Series.mean()

10340.0

In [113]:
stock_price_Series.var()

193000.0

In [114]:
stock_price_Series.std()

439.31765272977594