In [3]:
import pandas as pd

#Load data from csv file
data=pd.read_csv("C:\\Users\\acorn-508\\python\\sampledata\\10_phone_data.csv", parse_dates=True)
#parse_dates=True ==>날짜, 시간관련있는 데이터를 문자열이 아니라 날짜시간 데이터유형으로 불러오기
data.head()

   index            date  duration  item    month   network network_type
0      0  15/10/14 06:58    34.429  data  2014-11      data         data
1      1  15/10/14 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11     Tesco       mobile

In [4]:
import dateutil#(data타입으로 만들기 위한 패키지)

In [6]:
data=pd.read_csv("C:\\Users\\acorn-508\\python\\sampledata\\10_phone_data.csv")
data["date"]=data["date"].apply(dateutil.parser.parse, dayfirst=True)
data.head()

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         830 non-null    int64
 1   date          830 non-null    datetime64[ns]
 2   duration      830 non-null    float64
 3   item          830 non-null    object
 4   month         830 non-null    object
 5   network       830 non-null    object
 6   network_type  830 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 45.5+ KB

In [9]:
data["item"].value_counts()

call    388
sms     292
data    150
Name: item, dtype: int64

Q1. 전체 데이터 중에서 item의 data의 수가 몇개인가요?           
Q2. 전체 데이터 중에서 duration의 값을 참조하여 가장 긴 사용시간을 찾아보세요            
Q3. 전체 데이터 중에서 통화(item에서 call)인 값들의 사용시간(duration)의 합을 찾아보세요 =>boolean인덱싱         
Q4. 전체 데이터 중에서 각 달에 얼마나 많은 건수가 있는지 확인해보세요

In [10]:
data.head()

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [22]:
data["item"].value_counts()["data"]

150

In [23]:
data["item"].value_counts()[2]

150

In [24]:
data["item"].count()

830

In [20]:
data["duration"].max()

10528.0

In [30]:
data["duration"][data["item"]=="call"].sum()

92321.0

In [35]:
data["month"].value_counts()

2014-11    230
2015-01    205
2014-12    157
2015-02    137
2015-03    101
Name: month, dtype: int64